/* * * * Retro Art Design * * * */
.retroArtBox {
  overflow: hidden;
  width: 300px;
  height: 250px;
}

/* * * * TIGER SLIDESHOW * * * */
.sliderWrapper {
  position: relative;
  height: 300px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  background: maroon;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderImages {
  position: relative;
  height: 300px;
  width: 300px;
}

.nav {
  margin: 10px auto 0 auto;
  width: 300px;
}

.button {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: moccasin;
}

.buttonRight {
  float: right;
}

.slider-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* * * * FOR SCROLLING LEGAL * * * */
.adSize {
  width: 300px;
  height: 250px;
  overflow: hidden;
}
// .vidHid {
//   opacity: 0;
//   visibility: hidden;
// }
.posAb {
  position: absolute;
}
// FUCKING UP RETRO ART
// .topLef {
//   left: 0px;
//   top: 0px;
// }
.topLef {
  // left: 0px;
  top: 0px;
}
.topR {
  right: 0px;
  top: 0px;
}
.bttmLef {
  left: 0px;
  bottom: 0px;
}
.bgDef {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

#bg {
  background: maroon;
}

#legalCon {
  background: rgba(255, 255, 255, 1);
  height: 57px;
  overflow: hidden;
  z-index: 666;
}
#legalHeading {
  background: url("../assets/legalHeading.png");
  height: 15px;
}
#legalPopUp {
  height: 15px;
  z-index: 667;
}
#legalPopDown {
  height: 15px;
  z-index: 664;
}
#popUp {
  background: url("../assets/popUp.png");
  width: 11px;
  height: 11px;
  top: 2px;
  right: 6px;
}

#popDown {
  background: url("../assets/popUp.png");
  width: 11px;
  height: 11px;
  top: 2px;
  right: 6px;
  transform: rotate(180deg);
}

#legalCopyCon {
  /* background: pink; */
  height: 37px;
  top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 284px;
  left: 7px;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

#legalCopyCon::-webkit-scrollbar {
  display: none;
}

#legalBarContainer {
  width: 6px;
  height: 35px;
  background-color: #d3d3d4;
  position: absolute;
  top: 16px;
  right: 8px;
  border-radius: 100px;
}

#thumb {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  position: relative;
  background-color: #009246;
  left: -1px;
}

#legalCopy {
  background: url("../assets/legalCopy.png");
  height: 209px;
  width: 278px;
}

/* * * * * * * * * * * * * * COMMENT * * * * * * * * * * * * * * */
/* * * * Moving Polygon * * * */
#tigerSVG {
  background: maroon;
}

#legalTiger {
  background: no-repeat url(../assets/Tiger4.jpg);
  background-size: contain;
}

/* * * * NOISE * * * */
.tigerBox {
  margin: 1em;
  width: 250px;
  height: 300px;
  position: relative;
}

.tiger {
  filter: url(#noise);
}

/* * * * WATER * * * */
.tiger-queen-word {
  filter: url(#water);
}

.redCircle {
  filter: url(#watery);
}

/* * * * OFFSET * * * */
.tiger-queen-word2 {
  filter: url(#offset);
}

/* * * * DROP SHADOW * * * */
.tiger-queen-word3 {
  filter: url(#drop-shadow);
}

/* * * * * * * * * * * * * * Wobbly Circle * * * * * * * * * * * * * * */
.circlesFrame {
  position: relative;
  height: 300px;

  width: 300px;
}

.border {
  border: 1px solid maroon;
}

#purple-stroke-circle-box,
#blue-filled-circle-box,
#blue-stroke-circle-box,
#pink-filled-circle-box {
  opacity: 0;
}

#middle,
#start,
#blue-filled-circle,
#blue-stroke-circle,
#pink-filled-circle {
  overflow: hidden;
}
